<% was_validated = bookmark.errors.any? %>

<%= form_with(model: bookmark, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% page_class = "form-control" %>
    <% page_was_invalid = bookmark.errors.include?(:page) %>

    <% if was_validated %>
      <% if page_was_invalid %>
        <% page_class << " is-invalid" %>
      <% else %>
        <% page_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :page_id %>
    <%= f.collection_select :page_id, Page.all, :id, :to_s, {}, class: "form-control" %>
    <% if page_was_invalid %>
      <% bookmark.errors.full_messages_for(:page).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% recommendation_class = "form-control" %>
    <% recommendation_was_invalid = bookmark.errors.include?(:recommendation) %>

    <% if was_validated %>
      <% if recommendation_was_invalid %>
        <% recommendation_class << " is-invalid" %>
      <% else %>
        <% recommendation_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recommendations %>
    <%= f.text_area :recommendations, class: recommendation_class, placeholder: "Enter recommendation" %>
    <% if recommendation_was_invalid %>
      <% bookmark.errors.full_messages_for(:recommendation).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% reader_class = "form-control" %>
    <% reader_was_invalid = bookmark.errors.include?(:reader) %>

    <% if was_validated %>
      <% if reader_was_invalid %>
        <% reader_class << " is-invalid" %>
      <% else %>
        <% reader_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reader_id %>
    <%= f.collection_select :reader_id, Reader.all, :id, :to_s, {}, class: "form-control" %>
    <% if reader_was_invalid %>
      <% bookmark.errors.full_messages_for(:reader).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
