<div class="card mb-3">
  <h2 class="card-header h4">
    Comment #<%= comment.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Comment</dt>
      <!-- Display comment start -->
      <dd><%= comment.comment %></dd>
      <!-- Display comment end -->

      <dt>Page name</dt>
      <!-- Display page_name start -->
      <dd><%= comment.page_name %></dd>
      <!-- Display page_name end -->

      <dt>Reader</dt>
      <!-- Display reader start -->
      <dd><%= comment.reader %></dd>
      <!-- Display reader end -->

      <dt>Reader email</dt>
      <!-- Display reader_email start -->
      <dd><%= comment.reader_email %></dd>
      <!-- Display reader_email end -->

      <dt>Page</dt>
      <!-- Display page_id start -->
      <dd><%= comment.page_id %></dd>
      <!-- Display page_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back comment, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link comment start -->
      <div class="col">
        <%= link_to edit_comment_url(comment), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link comment end -->

      <!-- Delete link comment start -->
      <div class="col">
        <%= link_to comment, method: :delete, data: { confirm: "Do you really want to delete this comment?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link comment end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(comment.updated_at) %> ago
  </div>
</div>
