<% was_validated = reader.errors.any? %>

<%= form_with(model: reader, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for reader_name start -->
  <div class="form-group">
    <% reader_name_class = "form-control" %>
    <% reader_name_was_invalid = reader.errors.include?(:reader_name) %>

    <% if was_validated %>
      <% if reader_name_was_invalid %>
        <% reader_name_class << " is-invalid" %>
      <% else %>
        <% reader_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reader_name %>
    <!-- Input for reader_name start -->
    <%= f.text_area :reader_name, class: reader_name_class, placeholder: "Enter reader name" %>
    <!-- Input for reader_name end -->
    <% if reader_name_was_invalid %>
      <% reader.errors.full_messages_for(:reader_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for reader_name end -->
  <!-- Label and input for email start -->
  <div class="form-group">
    <% email_class = "form-control" %>
    <% email_was_invalid = reader.errors.include?(:email) %>

    <% if was_validated %>
      <% if email_was_invalid %>
        <% email_class << " is-invalid" %>
      <% else %>
        <% email_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email %>
    <!-- Input for email start -->
    <%= f.text_field :email, class: email_class, placeholder: "Enter email" %>
    <!-- Input for email end -->
    <% if email_was_invalid %>
      <% reader.errors.full_messages_for(:email).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for email end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
