<%= form_with(model: @bookmark, local: true) do |f| %>

  <%= f.hidden_field :page_id, value: @page.id %>

  <div class="form-group">
    <%= f.label :recommendations %>
    <%= f.text_area :recommendations, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reader_id %>

    <%= f.collection_select :reader_id, Reader.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
