<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :page_name %>

    <%= f.text_field :page_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reader %>
    <%= f.text_area :reader, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reader_email %>
    <%= f.text_area :reader_email, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :page_id, value: @page.id %>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
